{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load i18n static %}

{% block extrastyle %}{{ block.super }}
    <link rel="stylesheet" href="{% static "admin/css/forms.css" %}">{% endblock %}
{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="{% url 'admin:index' %}">{% translate 'Home' %}</a>
        &rsaquo; {% translate 'Password reset' %}
    </div>
{% endblock %}
{% block content %}

    <p>Забыли пароль?</p>
    <p> Введите свой адрес электронной почты ниже, и мы вышлем вам инструкцию, как установить новый пароль.</p>

    <form method="post">
        {% csrf_token %}
        <fieldset class="module aligned">
            <div class="form-row field-email">
                {{ form.email.errors }}
                <div class="flex-container">
{#                    <label for="id_email">{% translate 'Email address:' %}</label>#}
                    {{ form.email|as_crispy_field }}
                </div>
            </div>
        </fieldset>
        <div class="submit-row">
            <input type="submit" value="{% translate 'Reset my password' %}">
        </div>
    </form>

{% endblock %}
