{% extends 'base.html' %}
{% load static %}

{% block title %}Главная{% endblock %}
{% block content %}
    <div class="row
    row-cols-1
    row-cols-md-3
    row-cols-xl-5
    g-3 row-flex">
        {% for post in posts %}

                <a href="{{ post.get_absolute_url }}" class="box">
                    <div class="col box shadow rounded">
                        <div class="card">
                            {% if post.image %}
                                <img src="{{ post.image.url }}" class="card-img-top first_people_img"
                                     alt="{{ post.slug }}">
                            {% else %}
                                <img src="{% static 'men/image/no_image.png' %}" class="card-img-top first_people_img"
                                     alt="No-image">
                            {% endif %}
                            <div class="card-body">
                                <h5 class="card-title">{{ post.title }}</h5>
                                <p class="card-text">{{ post.description|truncatewords_html:10 }}</p>
                                <p>Автор: <span>{{ post.author.first_name|default:'не известен' }}</span></p>
                            </div>
                            <div class="card-footer">
                                <small class="text-body-secondary">Опубликованно {{ post.create|timesince|title }}</small>
                            </div>
                        </div>
                    </div>
                </a>
        {% endfor %}
    </div>

    <div class="paginate">
        {% include 'include/paginate.html' %}
    </div>



{% endblock %}
